HTTPS check fails due to missing host header

I'm unable to perform an authenticated check against a public API. Uptime is logging a 401 response from the server while the server is responding with, 

```
client sent HTTP/1.1 request without hostname (see RFC2616 section 14.23)
``` 

Is there a header or other options I need to set in the HTTP Options panel to get this working for me? 

+1
It would be nice to be able to set the expected http response code